@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,500&family=Quicksand&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: barlow, sans-serif;

}

main {
	max-width: 800px;
	margin: 0 auto;
}

footer {
	margin-top: 0.67em;
	padding-top: 0.67em;
	font-size: 75%;
	border-top: 1px solid gray;
}

