@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: barlow, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 112.5%;
	margin: 0 1em;
}

header h1 {
	margin-bottom: 0;
}

header h1 + p {
	margin-top: 4px;
	font-size: 87.5%;
}

body > * {
	width: 100%;
	max-width: 800px;
}

footer {
	margin-top: 1em;
	padding: 1em 0;
	font-size: 87.5%;
	border-top: 1px solid gray;
}
