@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: barlow, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 112.5%;
	margin: 0 1em;
	tab-size: 4;
}

header h1 {
	margin-bottom: 0;
}

header h1 + p {
	margin-top: 4px;
	font-size: 72.22%;
}

body > * {
	width: 100%;
	max-width: 800px;
}

footer {
	margin-top: 1em;
	padding: 1em 0;
	font-size: 87.5%;
	border-top: 1px solid gray;
	text-align: center;
}

figure {
	position: relative;
}

figure little-planet {
	display: block;
}

figcaption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-style: italic;
	color: #fff;
	background-image: linear-gradient(-15deg, #000, rgba(0, 0, 0, 0));
	padding: 8px;
	text-align: right;
}
